body {
  font-family: 'Roboto', sans-serif;
  background: #F0F4F7;
  color: #333;
}

a {
    text-decoration: none;
    color: #4078c0;
}

.center-div p {
  padding: 1em 0;
}

a:hover {
    color: #555;
    transition: .3s ease;
}

.fa-github:hover {
    color: #000;
}

.center-div
{
  margin: auto;
  width: 100%;
  max-width: 720px;
  background-color: #fff;
  border-radius: 3px;
  padding: 20px;
  border: 1px solid #ccc;
  position: relative;
  text-align: center;
}

.center-div h2 {
  font-weight: bold;
  font-size: 2em;
}

.fa-check {
  color: green !important;
}

.center-div .fa {
  color: #333;
}

.center-div {
  font-size: 1.2em;
}

.center-div span {
  display: block;
  margin-top: 6px;
}

#password {
    margin-top: 5px;
}

#submit {
    cursor: pointer;
}

#submit:hover {
    background-color: #F18C24;
    transition: .3s ease;
}

.error, .error1 {
    color: red;
    margin-top: 1.5em;
}

footer {
    padding: 2em 0;
   text-align: center;;
}

footer .fa {
  color: #999;
  font-size: 2em;
  transition: ease 0.4s;
}

footer .fa:hover {
  color: #777;
}

.admin-home {
    float: left;
}

.userName {
    color: #C08840;
}

h1 {
    text-transform: uppercase;
    font-size: 1.5em;
    color: #fff;
    margin: 0 auto;
    letter-spacing: 2px;
    float: left;
}

h1 a, h1 a:hover {
  color: #fff;
}

h2 {
    clear: both;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 1em;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 2px;  
}

header {
    background-color: #49525B;
    padding: 2em 0;
    overflow: auto;
}

nav {
  float: right;
  margin-top: 5px;
}

nav a {
  padding: 0 1em;
  color: #fff;
}

nav a:hover {
  color: #eee;
}

@media screen and (max-width: 580px) {
  nav, h1 {
    float: none;
    width: 100%;
    text-align: center;
  }
  h1 {
    padding-bottom: 1em;
  }
}

.container {
  max-width: 95%;
  margin: 0 auto;
}


header p {
    float: right;
    padding: 5px;
}

header p a {
        color: #fff;
}

main {
  clear: both;
  padding: 2em 0;
}

.cpanel {
    padding-top: 10px;
}

.image{
    width:120px;
    height:120px;
    clear: both;
}

.fa-check {
    color: green;
}

.profile-pic {
    width: 150px;
    height: 150px;
}

/* Form styles */

#stylesheet {
  margin-top: 1.5em;
  border: 1px solid #eee;
  color: #777;
  padding: 0 0 2px 0;
}

form {
    margin: 1em;
}

#submit {
    margin-top: 1.5em;
    background-color: #F27025;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;  
    padding: .5em;
}


input {
    border: 1px solid #eee;
    margin-top: 3px;
}

input[type=text], textarea,
input[type=password], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 8px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus,
input[type=password]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(241, 140, 36, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(241, 140, 36, 1);
}


#username,
#password {
  width: 100%;
  padding: 1em;
  border-radius: 20px;
  background-color: #F7F7F7;
}

::-webkit-input-placeholder {
   color: #444;
   font-weight: bold;
}

:-moz-placeholder { /* Firefox 18- */
   color: #444; 
   font-weight: bold;    
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #444; 
   font-weight: bold;    
}

:-ms-input-placeholder {  
   color: #444; 
   font-weight: bold;

}

@media screen and (max-width: 580px) {
  .center-div {
    margin-top: 0;
  }
}


/* Table styles */

table {
  margin: 0 auto;
  position: relative;
}

table td {
 padding: 20px;
 width: 150px; 
}

.red {
    color: #777;
    font-size: 18px;
}

.add {
    font-size: 22px;
    color: green;
    border: 1px dotted #ccc;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
}


th {
    font-size: 24px;
        padding: 6px 4px;
        color: #38424B;
        font-weight: bold;
}

td {
    padding: 6px 4px;
}


.fa-angle-double-left {
    color: 000;
}

.fa-check {
    color: green;
}
