body {
  font-family: 'Roboto', sans-serif;
  background: #eee;
}

a {
    text-decoration: none;
    color: #777;
}

.center-div p {
  padding: 1em 0;
}

a:hover {
    color: #555;
    transition: .3s ease;
}

.github {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #777;
}

.fa-github:hover {
    color: #000;
}

.center-div
{
  margin: auto;
  width: 100%;
  max-width: 520px;
  height: auto;
  background-color: #E1E1E1;
  border-radius: 3px;
  padding: 20px 20px 0 20px;
  border: 1px solid #ccc;
  margin-top: 8em;
  position: relative;
}

#password {
    margin-top: 5px;
}

#submit {
    cursor: pointer;
}

#submit:hover {
    background-color: #F18C24;
    transition: .3s ease;
}

.error {
    color: red;
}

.error1 {
    color: red;
    font-size: 10px;
}

.footer {
    color: #555;
    font-size: 10px;
    text-align: center;
}

.welcome {
    font-size: 16px;
    float: left;
}

.logout {
    float: right;
}

.blue {
    color: blue;
}

h1 {
    clear: both;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #fff;
    background-color: #23313E;
    padding: 1em;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 2px;
}

h2 {
    clear: both;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #000;
    padding: 1em;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 2px;  
}

.cpanel {
    padding-top: 10px;
}

.image{
    width:120px;
    height:120px;
    clear: both;
}

.fa-check {
    color: green;
}

.profile-pic {
    width: 50px;
    height: 50px;
}

.register {
  font-size: 14px;
  margin: 1em 0;
}

/* Form styles */

#stylesheet {
  margin-top: 1.5em;
  border: 1px solid #eee;
  color: #777;
  padding: 0 0 2px 0;
}

form {
    margin: 1em 0 0 0;
}

#submit {
    margin-top: 1.5em;
    background-color: #F27025;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;  
    padding: .5em;
}


input {
    border: 1px solid #eee;
    margin-top: 3px;
}

input[type=text], textarea,
input[type=password], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus,
input[type=password]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(241, 140, 36, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(241, 140, 36, 1);
}


#username,
#password {
  width: 100%;
  padding: 1em;
  border-radius: 20px;
  background-color: #CACACA;
}

::-webkit-input-placeholder {
   color: #444;
   font-weight: bold;
}

:-moz-placeholder { /* Firefox 18- */
   color: #444; 
   font-weight: bold;    
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #444; 
   font-weight: bold;    
}

:-ms-input-placeholder {  
   color: #444; 
   font-weight: bold;

}

@media screen and (max-width: 580px) {
  .center-div {
    margin-top: 0;
  }
}


