/* Resets */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* End reset */



/* General styles */

p {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #777;
}

a:hover{
    background: #777;
    color: #fff;
}

.red {
    color: #777;
    font-size: 18px;
}

.add {
    font-size: 22px;
    color: green;
    border: 1px dotted #ccc;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 110px;
    margin-right: 20px;
}

body {
    font-family: sans-serif;
}

th {
    font-size: 24px;
        padding: 6px 4px;
        color: #38424B;
        font-weight: bold;
}

td {
    padding: 6px 4px;
}


main {
    width: 486px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      position: relative;
}


body {
          background-color: #f4f4f4;

}
table {
    padding-top: 15px;
}

header {
    background-color: #46535C;
    height: 65px;
    border-bottom: 8px solid #38424B;
}

header h1 {
    font-size: 24px;
    padding-top: 14px;
    color: #fff;
    float: left;
    padding: 5px;
}

header p {
    float: right;
    padding: 5px;
}

header p a {
        color: #fff;
}

.fa {
    color: #fff;
}

.back {
    padding-top: 20px;
    text-align: right;
}


.fa-database {
    color: #eee;
}

.fa-angle-double-left {
    color: 000;
}

.fa-check {
    color: green;
}

footer {
    width: 100%;
    background-color: #46535C;
    height: 50px;
    text-align: center;
}

footer p {
    font-size: 12px;
    padding-top: 14px;
    color: #fff;
}

.welcome {
    float: left;
    clear: both;
    color: #fff;
}



/* Form styles */

#id, #firstname, #lastname, #submit {
    display: block;
}

#submit {
    margin-top: 15px;
}

label {
    font-size: 18px;
    font-style: italic;
}

input {
    border: 1px solid #ccc;
    margin-top: 3px;
}



